---
layout: default
title: Socials
---

        <dl>
        {% for link in site.data.links %}
          <dt>{{ link.text | default: link.site }}</dt>
          <dd>
            <a href="{{ link.url }}" target="_blank" rel="noopener">
            {% if link.flair %}
              <img src="{{ link.flair.url }}" width="{{ link.flair.width }}" height="{{ link.flair.height }}" /></span>
            {% else %}
              <span>{{ link.handle }}</span>
            {% endif %}
            </a>
          </dd>
        {% endfor %}
        </dl>